<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Command Launcher</title>
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="/lib/material-icons/material-icons.css">
  <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/lib/xterm/xterm.css">
  <link rel="stylesheet" href="/lib/golden-layout/css/goldenlayout-base.css">
  <link rel="stylesheet" href="/lib/golden-layout/css/goldenlayout-dark-theme.css">
  <link rel="stylesheet" href="/lib/fancytree/skin-win8/ui.fancytree.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="wrapper">
    <ul id="menuContainer">
      <li class="btn-instancesExplorer"><i class="fas fa-sitemap"></i></li>
      <li class="btn-liveLauncher"><i class="fas fa-terminal"></i></li>
    </ul>
    <div id="layoutContainer"></div>
  </div>
</body>
</html>
<script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/lib/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/lib/fontawesome/js/all.min.js"></script>
<script type="text/javascript" src="/lib/lodash/lodash.min.js"></script>
<script type="text/javascript" src="/lib/xterm/xterm.js"></script>
<script type="text/javascript" src="/lib/xterm/addons/fit/fit.js"></script>
<script type="text/javascript" src="/lib/xterm/addons/attach/attach.js"></script>
<script type="text/javascript" src="/lib/golden-layout/js/goldenlayout.min.js"></script>
<script type="text/javascript" src="/lib/fancytree/jquery.fancytree-all-deps.min.js"></script>

<script type="text/javascript" src="/js/base.js"></script>

<!-- terminal -->
<script type="text/javascript" src="/js/terminal/terminal.js"></script>
<script type="text/javascript" src="/js/terminal/terminalComponent.js"></script>
<!-- liveLauncher -->
<script type="text/javascript" src="/js/liveLauncher/liveLauncher.js"></script>
<script type="text/javascript" src="/js/liveLauncher/liveLauncherComponent.js"></script>
<!-- instancesExplorer -->
<script type="text/javascript" src="/js/instancesExplorer/instancesExplorer.js"></script>
<script type="text/javascript" src="/js/instancesExplorer/instancesExplorerComponent.js"></script>