html, body{
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  list-style-type:none;
}

#wrapper{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#menuContainer{
  width: 60px;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: #222;
}

#menuContainer li{
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: #BBB;
  background: #1a1a1a;
  text-align: center;
}

#menuContainer li:hover{
  background: #111;
  color: #CCC;
}

#layoutContainer{
  width: calc(100% - 60px);
  height: 100%;
  position:absolute;
  top: 0;
  left: 60px;
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}

ul.fancytree-container {
    background-color: initial;
    border: none;
}
ul.fancytree-container {
    outline: none;
}
span.fancytree-title {
    color: white;
}
.fancytree-plain span.fancytree-node:hover span.fancytree-title {
    background-color: initial;
    border-color: transparent; 
}
.fancytree-plain span.fancytree-active span.fancytree-title, .fancytree-plain span.fancytree-selected span.fancytree-title {
    background-color: initial;
    border-color: transparent; 
}
.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-active span.fancytree-title {
    background-color: initial;
    border-color: transparent; 
}
.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-selected span.fancytree-title {
    background-color: #0d47a1;
    border-color: #212121;
}
.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-focused span.fancytree-title {
    border-color: #212121;
}
.ui-fancytree-disabled ul.fancytree-container {
    background-color: #555555;
}